*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

body {
  min-height: 100dvh;
}

html,
body {
  min-width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}
