$primary-color: #e2cffa;
$primary-font: 'Averia Serif Libre', sans-serif;
$nav-text-color: #20254a;
$nav-font-size: 0.9rem;
$nav-scroll-color: #e1cefb;
$feature-section-button-color: #e2e7f3;
$blue-text: #58bef5;
$bottom-footer-links: #cab6ae;
$mobile-nav-color: #fdfdff;
$banner-border-radius: 2rem;
